/* assets/css/style.css */
body {
    font-family: sans-serif; /* Use a basic sans-serif font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Light gray background */
}

.container {
    width: 100%;
    max-width: 400px; /* Limit width for better readability */
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff; /* Blue button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
     text-align: left;
}
#rememberMe-container{
    text-align: left;
}


#sign-out-button{
    padding: 10px 15px;
    background-color: #dc3545;
    border: none;
    color: white;
    font-size: 1em;
    border-radius: .25em;
}